html {
  font-family: Lora, serif;
}

.masthead {
  background: url("../images/leaf-bg.svg")
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  background: url("../images/leaf-icon.svg")
}

.banner {

}

.banner-content {
  background: url("../images/two-leaves.svg")
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
